<!DOCTYPE html>
<html lang="en">
 
<head>

{% include 'html_includes/header.html' %}

 <script src="{{ url_for('static', filename='index.js') }}"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">

var socket = io.connect('http://' + document.domain + ':' + location.port);

    // verify our websocket connection is established
    //socket.on('connect', function() {
    //    console.log('Websocket connected!');
    //});
     
</script>   
  

</head>

<!-- Primary Page Layout -->

<body>

<main style="text-align: center;">

    

<div class="col-lg-4 col-sm-3 mv_nav_items " style="text-align: center;"> </div>

<div class="col-lg-3 col-sm-3 mv_nav_items " style="text-align: center;">  
<div class="mv_header_title">

  <h2> Welcome to LetsTalk by Manish Vaidya </h2>
  <h3> <i> Find all your favorite topics to talk about </i> </h3>
  <h3> <i> Hello {{ session['dp_name'] }}, choose from the channel list </i> </h3>
</div>    


<div class="">    

  <h3>Channels</h3>
  <ul id="channels"> </ul>
  <form id="new-channel">
      <input id="channel" autocomplete="off" autofocus placeholder="New Channel" type="text">
      <input id="submit" type="submit">
  </form>

</div>    


<p>
 <h4><a href="/logout">Sayonara!</a></h4>
</p>

<div class="col-lg-6 col-sm-3 mv_nav_items " style="text-align: center;"> </div>
    

{% include 'html_includes/end_js.html' %}

</main>


</body>
</html>
