<!DOCTYPE html>
<html lang="en">
 
<head>

{% include 'html_includes/header.html' %}

 


 <script src="{{ url_for('static', filename='messages.js') }}"> 
 </script>
 	

<script type="text/javascript">


  var socket = io.connect('http://' + document.domain + ':' + location.port,{'sync disconnect on unload':true});
  
  

</script>

 
  


</head>

<!-- Primary Page Layout -->
<body>

<main style="text-align: center;">

 
<div class="mv_header_title">
  <h2> Welcome to LetsTalk <br> by Manish Vaidya </h2>
   
  <h3> <i> Hello {{ session['dp_name'] }}  </i> </h3>
</div>   
 
 <div> Welcome to chat channel: {{channel}} </div>

 <br> <strong> Messages </strong> <br> <div id="messages">  </div>



 <form id="new-message">
      <input id="message" autocomplete="off" autofocus placeholder="New message" type="text">
      <input id="message_submit" type="submit" value="new message">
  </form>
 
 
 <h4><a href="/channels">Back to channels list</a></h4>
</p>

  

<div class="col-lg-6 col-sm-3 mv_nav_items " style="text-align: center;"> </div>

{% include 'html_includes/end_js.html' %}

</main>

</body>
</html>
